amqplib==1.0.2
arcrest==10.3
celery==3.1.19
Django==1.6.11
django-celery==3.1.17
django-debug-toolbar==1.2
django-pagination==1.0.7
django-polymorphic==0.8.1
django-taggit==0.18.0
django-wsgi==1.0b1
flake8==2.5.1
httmock==1.2.5
MapProxy==1.8.1
nose==1.3.7
OWSLib==0.10.3
Paver==1.2.4
Pillow==3.1.0.rc1
python-memcached==1.57
psycopg2==2.6.1
pysolr==3.3.3
requests==2.9.1
webtest==2.0.20
