[uwsgi]
;unix socket (referenced in nginx configuration)
socket = /tmp/%n.sock

# increase buffer size
buffer-size = 32768

# set mode of created UNIX socket
chmod-socket = 666

# place timestamps into log
log-date = true

vacuum = true

; project-level logging to the logs/ folder
logto = {{ application_log_file }}

chdir = {{ project_path }}
module = wsgi:application

enable-threads = true
threads = 20

home = {{ virtualenv_path }}
vacuum = true
master = true

{% for variable_name, value in django_environment.items() %}
env = {{ variable_name }}={{ value }}
{% endfor %}

pidfile = /tmp/%n.pid
;harakiri = 20 # respawn processes taking more than 20 seconds
max-requests = 5000 # respawn processes after serving 5000 requests
