server {
    listen      80;
    server_name {{ nginx_server_name }};

    client_max_body_size 200M;

    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};

    location /static/ {
        alias   {{ nginx_static_dir }};
    }

    location /media/ {
        alias   {{ nginx_media_dir }};
    }

    location / {

       if ($request_method = OPTIONS) {
         add_header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, OPTIONS";
         add_header Access-Control-Allow-Headers "Authorization, Content-Type, Accept";
         add_header Access-Control-Allow-Credentials true;
         add_header Content-Length 0;
         add_header Content-Type text/plain;
         add_header Access-Control-Max-Age 1728000;
         return 200;
       }

       include     /etc/nginx/uwsgi_params;
       uwsgi_pass  unix:///tmp/hypermap.sock;
       uwsgi_read_timeout 30;
       client_max_body_size 15M;
       client_body_buffer_size 128K;
       add_header Access-Control-Allow-Credentials false;
       add_header Access-Control-Allow-Headers "Content-Type, Accept, Authorization, Origin, User-Agent";
       add_header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, OPTIONS";
       proxy_set_header X-Forwarded-Protocol $scheme;
    }


    # Error pages
    error_page 500 502 504 /500.html;
    location = /500.html {
        root {{ project_path }}/{{ application_name }}/templates/;
    }

    error_page 503 /maintenance_on.html;
    location = /maintenance_on.html {
        root {{ virtualenv_path }}/;
    }
}
