{% extends "aggregator/base.html" %}

{% load i18n %}

{% block content %}

<div class="page-header">
  <h1>{% trans "Layer details for" %}: {{ layer.title }}</h1>
</div>

{% if user.is_superuser %}
  {% include "aggregator/publish.html" with csw_resourcetype=layer.csw_resourcetype csw_source=layer.url publish_type='Layer' csw_xml=layer.xml %}
{% endif %}

<div class="row">
  <div class="col-md-6">
    <ul>
    {% if user.is_superuser %}
      <button type="button" class="btn-sm btn-success btn-circle btn nohover" data-toggle="modal" data-target="#publish-modal">{% trans "Publish" %}</button>
    {% endif %}
    {% if layer.service %}
      <a href="{{ layer.service.get_absolute_url }}">
        <button type="button" class="btn-sm btn-primary btn-circle btn nohover">{% trans "Service Page" %}</button>
      </a>
    {% endif %}
    <a href="{% url 'layer_mapproxy' catalog_slug=layer.catalog.slug layer_uuid=layer.uuid path_info='/demo/' %}">
      <button type="button" class="btn-sm btn-info btn-circle btn nohover">{% trans "MapProxy demo page" %}</button>
    </a>
    <a href="{% url 'layer_mapproxy_config' catalog_slug=layer.catalog.slug layer_uuid=layer.uuid %}">
      <button type="button" class="btn-sm btn-info btn-circle btn nohover">{% trans "MapProxy configuration" %}</button>
    </a>
    </ul>
</div>
  <div class="col-md-6">
    {% if user.is_superuser %}
    {% trans "Administrative actions" %}:
    <form action="{{ layer.get_absolute_url }}" method="post">
      {% csrf_token %}
      <input type="submit" class="btn-sm btn-success btn-circle btn nohover" name="check" value='{% trans "Check now" %}'>
      <input type="submit" class="btn-sm btn-success btn-circle btn nohover" name="remove" value='{% trans "Remove checks" %}'>
      <input type="submit" class="btn-sm btn-success btn-circle btn nohover" name="index" value='{% trans "Index in Search Backend" %}'>
    </form>
    {% endif %}
  </div>
</div>

<div class="layer-thumb">
  {% if layer.thymbnail %}
    <img src="{{ MEDIA_URL }}{{ layer.thumbnail }}" width="50" />
  {% else %}
    {% trans "No thumbnail is available for this layer" %}
  {% endif %}
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tbody>
        <tr>
          <td><strong>{% trans "Endpoints" %}</strong></td>
          <td>
            <ul>
            {% if layer.service %}
            <li>{% trans "Service Hypermap Page" %}: <a href="{{ layer.service.get_absolute_url }}">{{ layer.service.title }}</a></li>
            {% endif %}
            <li>{% trans "Layer Page" %}: <a href="{{ layer.page_url }}">{{ layer.page_url }}</a></li>
            <li>{% trans "Layer Hypermap EndPoint" %}: <a href="{{ request.scheme }}://{{ request.get_host }}/{{ layer.get_url_endpoint }}">{{ layer.get_url_endpoint|truncatechars:80 }}</a></li>
            {% if user.is_superuser %}
              <li>{% trans "Service EndPoint" %}: <a href="{{ layer.service.url }}">{{ layer.service.url|truncatechars:80 }}</a></li>
              <li>{% trans "Layer EndPoint" %}: <a href="{{ layer.url }}">{{ layer.url|truncatechars:80 }}</a></li>
              <li>{% trans "Search EndPoint" %}:
              {% if SEARCH_TYPE == 'elasticsearch' %}
              <a href="{{SEARCH_URL}}/hypermap/_search?q=layer_id:{{layer.id}}" target="new">{{SEARCH_URL}}/hypermap/_search?q=layer_id:{{layer.id}}</a>
              {% elif SEARCH_TYPE == 'solr' %}
              <a href="{{SEARCH_URL}}/solr/hypermap/select?q=layer_id:{{layer.id}}&wt=json&indent=true" target="new">{{SEARCH_URL}}/solr/hypermap/select?q=layer_id:{{layer.id}}&wt=json&indent=true</a>
              {% endif %}
              <li>{% trans "Metadata" %}:
                  <a href="{% url 'csw_global_dispatch_by_catalog' catalog_slug %}?service=CSW&version=2.0.2&request=GetRecordById&elementsetname=full&id={{layer.uuid}}" target="new">
                      {{ request.scheme }}://{{ request.get_host }}{% url 'csw_global_dispatch_by_catalog' catalog_slug %}?service=CSW&version=2.0.2&request=GetRecordById&elementsetname=full&id={{layer.uuid}}
                  </a>
              </li>
              </li>
            {% endif %}
          </ul>
          </td>
        </tr>
        <tr>
          <td><strong>{% trans "Name" %}</strong></td>
          <td>{{ layer.name }}</td>
        </tr>
        <tr>
          <td><strong>{% trans "uuid" %}</strong></td>
          <td>{{ layer.uuid }}</td>
        </tr>
        <tr>
          <td><strong>{% trans "Title" %}</strong></td>
          <td>{{ layer.title }}</td>
        </tr>
        <tr>
          <td><strong>{% trans "Abstract" %}</strong></td>
          <td>{{ layer.abstract }}</td>
        </tr>
        <tr>
          <td><strong>{% trans "Keywords" %}</strong></td>
          <td>
            <ul>
              {% for keyword in layer.keywords.all %}
              <li>{{ keyword.name }}</li>
              {% endfor %}
          </ul>
          </td>
        </tr>
        <tr>
          <td><strong>{% trans "Is Public?" %}</strong></td>
          <td>{{ layer.is_public }}</td>
        </tr>
        <tr>
          <td><strong>{% trans "Is Monitored?" %}</strong></td>
          <td>{{ layer.is_monitored }}</td>
        </tr>
        <tr>
          <td><strong>{% trans "Is Valid?" %}</strong></td>
          <td>{{ layer.is_valid }}</td>
        </tr>
        {% if layer.type = 'Hypermap:WorldMap' %}
          <tr>
            <td><strong>{% trans "Username" %}</strong></td>
            <td>{{ layer.layerwm.username }}</td>
          </tr>
          <tr>
            <td><strong>{% trans "Category" %}</strong></td>
            <td>{{ layer.layerwm.category }}</td>
          </tr>
        {% endif %}
        <tr>
        <td><strong>{% trans "Dates" %}</strong></td>
        <td>
          {% if layer.layerdate_set.count > 0 %}
          <ul>
            {% if layer.type = 'Hypermap:WorldMap' %}
              <li>{% trans "Start Date" %}: {{ layer.layerwm.temporal_extent_start }}</li>
              <li>{% trans "End Date" %}: {{ layer.layerwm.temporal_extent_end }}</li>
            {% endif %}
            {% for date in layer.layerdate_set.all %}
              {% if date.type == 0 %}
                 <li>{{ date.date }} {% trans "Detected" %}</li>
              {% else %}
                 <li>{{ date.date }} {% trans "From Metadata" %}</li>
              {% endif %}
            {% endfor %}
          </ul>
          {% else %}
            {% trans "No dates for this layer" %}
          {% endif %}
        </td>
      </tr>
        <tr>
          <td><strong>{% trans "Spatial Reference Systems" %}</strong></td>
          <td>
            <ul>
              {% for srs in layer.service.srs.all %}
              <li>{{ srs.code }}</li>
              {% endfor %}
          </ul>
          </td>
        </tr>
        <tr>
          <td><strong>{% trans "Bounding Box" %} (x0, y0, x1, y1)</strong></td>
          <td>{{ layer.bbox_x0|floatformat:8 }}, {{ layer.bbox_y0|floatformat:8 }}, {{ layer.bbox_x1|floatformat:8 }}, {{ layer.bbox_y1|floatformat:8 }}</td>
        </tr>
        <tr>
          <td><strong>{% trans "Monitoring Period" %}</strong></td>
          <td>
            {% if layer.checks_count > 0 %}
            <ul>
              <li>{% trans "First Check" %}: {{ layer.first_check.checked_datetime }}</li>
              <li>{% trans "Last Check" %}: {{ layer.last_check.checked_datetime }}</li>
              <li>{% trans "Total Checks" %}: {{ layer.checks_count }}</li>
              <li>{% trans "Reliability" %}: {{ layer.reliability }}</li>
              <li><a href="{{ layer.get_check_stats_absolute_url }}">{% trans "See full check stats" %}</a></li>
            </ul>
            {% else %}
              {% trans "No checks performed so far" %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><strong>{% trans "Response Times" %}</strong></td>
          <td>
            {% if layer.checks_count > 0 %}
            <ul>
              <li>{% trans "Min" %}: {{ layer.min_response_time|floatformat:2 }}s</li>
              <li>{% trans "Average" %}: {{ layer.average_response_time|floatformat:2 }}s</li>
              <li>{% trans "Max" %}: {{ layer.max_response_time|floatformat:2 }}s</li>
            </ul>
            {% else %}
              {% trans "No checks performed so far" %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><strong>{% trans "Was deleted?" %}</strong></td>
          <td>{{ layer.was_deleted }}</td>
        </tr>
        <tr>
          <td><strong>{% trans "Last Updated" %}</strong></td>
          <td>{{ layer.last_updated }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="clearfix"></div>
<div id="run-chart" class="run-chart"></div>

{% endblock %}
